{% extends "base.html" %}

{% block content %}

 <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">    
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        Testing      
      </div>
    </nav>
    <main role="main">
      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          
        </div>
      </div>
      <div class="container">
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-12">         
            <h2>Heading</h2>         
            <p><iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdngCjkllCUf_UbCQ-sjZva5MIIzrfkl7P6dMDxfRVG54u2fQ/viewform?embedded=true" width="640" height="465" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
            <br/>
          	
          	<a href="{%url 'infodoc'  %}"> view result</a>
          </div>

        </div>
        <hr>
      </div> <!-- /container -->
    </main>
    <footer class="container">
      <p>&copy; Company 2017-2018</p>
    </footer>


{% endblock content %}